<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板首页</title>
    <style>
        table {
            border: 1px solid black;
        }

        td {
            border: 1px solid black;
        }
    </style>

</head>
<body>
<h1 id="demo3">模板首页哈哈哈</h1>

{#<h1 id="demo">{{msg}}</h1>#}
<h1>{{ aa.name }}</h1>
<script>
    var ss ={{ msg|tojson|safe }};
    var ss_lastyear ={{ msg_lastyear|tojson|safe }};
    var querytype = '{{query_type}}';

    function create_one_table(ss, querytype, month, year_select) {
        document.write(ss);
        document.write(typeof ss);
        
        {#document.write(ss.西安.工业);#}
        {#ss1 = JSON.parse(ss);#}
        ss1 = ss;
        document.write(typeof ss1);
        document.write(ss1.西安.工业);
        document.write(ss1);
        document.write('{{query_type}}');
        if (querytype === 'LW') {
            querytype = '联网直报平台存量';
        } else if (querytype === 'SP') {
            querytype = '审批平台增量';
        }


        var b = 'TTTTTTTTTTTTTTTTTTTTTTTTTTTTT';
        document.write(b);

        {#var obj1 = document.getElementById("demo").innerText;#}
        {#document.write(typeof obj1);#}
        {#document.write(obj1);#}
        {#var obj2 = JSON.parse(obj1);#}
        {#document.write(typeof obj2);#}
        {#document.write(obj2);#}
        {#document.write(b);#}
        {#document.write(obj2.西安.工业);#}
        {#document.write(typeof obj2);#}

        table = document.createElement("table");
        table.setAttribute("name", {{year_select}}+month);
        tr = document.createElement("tr");
        {#
        for (i = 0; i < 5; i++) {
            tr = document.createElement("tr");

            for (j = 0; j < 4; j++) {
                td = document.createElement("td");
                tr.appendChild(td);
                td.innerHTML = "列：" + j + " 行：" + i;
            }
            table.appendChild(tr);
        }
        #}
        td = document.createElement("td");
        td.innerHTML = null;
        tr.appendChild(td);
        for (x in ss1["西安"]) {
            td = document.createElement("td");
            td.innerHTML = x;
            tr.appendChild(td);
        }
        table.appendChild(tr);

        for (x in ss1) {
            tr = document.createElement("tr");
            td = document.createElement("td");
            td.innerHTML = x;
            tr.appendChild(td);
            document.write(ss1[x]);
            {#td = document.createElement("td");#}
            {#td.innerHTML = ss1[x]["工业"];#}
            {#tr.appendChild(td);#}
            for (t in ss1[x]) {
                td = document.createElement("td");
                td.innerHTML = ss1[x][t];
                tr.appendChild(td);
            }
            table.appendChild(tr);
        }

        caption = document.createElement("caption");
        if (month === 'year_report') {
            caption.innerText = querytype + (parseInt(year_select) - 1).toString() + '年报';
        } else {
            caption.innerText = querytype + year_select.toString() + '年' + month;
        }

        table.appendChild(caption);
        document.body.appendChild(table);
    }

    function create_sum_table(ss, year_select) {
        {#x是:02月03月04月#}
        var yuefen = new Array();
        for (x in ss) {
            yuefen.push(x);
        }
        document.write(yuefen);
        document.write(yuefen.length);
        document.write('{{query_type}}');

        table = document.createElement("table");
        table.setAttribute("name", yuefen[0]+yuefen[yuefen.length-1]);
        tr = document.createElement("tr");
        td = document.createElement("td");
        td.innerHTML = null;
        tr.appendChild(td);

        {#ss是:{"02月":"西安": {"工业": 1503,... "总计": 8486},"铜川": {"工业": 219,...},"03月":"..."}#}
        for (x in ss[yuefen[0]]["西安"]) {
            td = document.createElement("td");
            td.innerHTML = x;
            tr.appendChild(td);
        }
        table.appendChild(tr);
        {#x是西铜宝咸渭...#}
        for (x in ss[yuefen[0]]) {
            tr = document.createElement("tr");
            td = document.createElement("td");
            td.innerHTML = x;
            tr.appendChild(td);

            {#t是工业建筑业房地产...#}
            for (t in ss[yuefen[0]][x]) {
                td = document.createElement("td");
                jieguo=0;
                for (ttt in yuefen)
                {
                    jieguo=jieguo+ss[yuefen[ttt]][x][t]
                }
                td.innerHTML = jieguo;
                tr.appendChild(td);
            }
            table.appendChild(tr);
        }

        {#
        caption = document.createElement("caption");
        if (month === 'year_report') {
            caption.innerText = querytype + (parseInt(year_select) - 1).toString() + '年报';
        } else {
            caption.innerText = querytype + year_select.toString() + '年' + month;
        }
        #}
        caption = document.createElement("caption");
        if (yuefen[0] === 'year_report' && yuefen[yuefen.length-1] === 'year_report') {
            caption.innerText = (parseInt(year_select)-1).toString()+'年报——'+(parseInt(year_select)-1).toString()+'年报总计';
        } else if (yuefen[0] === 'year_report' && yuefen[yuefen.length-1] !== 'year_report')
        {
            caption.innerText = (parseInt(year_select)-1).toString()+'年报——'+year_select+'年'+yuefen[yuefen.length-1]+'月报总计';
        }else if (yuefen[0] !== 'year_report' && yuefen[yuefen.length-1] !== 'year_report')
        {
            caption.innerText = year_select+'年'+yuefen[0]+'——'+year_select+'年'+yuefen[yuefen.length-1]+'月报总计';
        }



        table.appendChild(caption);
        document.body.appendChild(table);
    }

    function create_one_table_tongbi(ss, querytype, month, year_select, ss_lastyear) {
        ss1 = ss;
        document.write(typeof ss1);
        document.write(ss1.西安.工业);
        document.write(ss1);
        document.write('{{query_type}}');
        if (querytype === 'LW') {
            querytype = '联网直报平台存量';
        } else if (querytype === 'SP') {
            querytype = '审批平台增量';
        }


        var b = 'TTTTTTTTTTTTTTTTTTTTTTTTTTTTT';
        document.write(b);

        table = document.createElement("table");
        tr = document.createElement("tr");

        td = document.createElement("td");
        td.innerHTML = null;
        tr.appendChild(td);
        {#ss1是:{"西安": {"工业": 1503,... "总计": 8486}"铜川": {"工业": 219,...}#}
        for (x in ss1["西安"]) {
            td = document.createElement("td");
            td.innerHTML = x;
            tr.appendChild(td);
        }
        {#tr是：表格第一行，工业，建筑业等等#}
        table.appendChild(tr);

        {#下面的for循环中，x为西铜宝咸渭...，t为工业建筑业...#}
        for (x in ss1) {
            tr = document.createElement("tr");
            td = document.createElement("td");
            td.innerHTML = x;
            tr.appendChild(td);
            {#ss1[x]是{"工业": 1503,... "总计": 8486}#}
            document.write(ss1[x]);

            {#td = document.createElement("td");#}
            {#td.innerHTML = ss1[x]["工业"];#}
            {#tr.appendChild(td);#}
            for (t in ss1[x]) {
                td = document.createElement("td");
                {#下行是查询ss1[西安][工业],ss1[西安][建筑业]...等等#}
                if (parseInt(ss_lastyear[x][t]) === 0) {
                    td.innerHTML = '-';
                } else {
                    innerHTML_temp = (parseInt(ss1[x][t]) - parseInt(ss_lastyear[x][t])) / parseInt(ss_lastyear[x][t]);
                    td.innerHTML = (innerHTML_temp * 100).toFixed(2) + '%';
                }
                {#innerHTML_temp=(parseInt(ss1[x][t]) - parseInt(ss_lastyear[x][t]));#}
                {#td.innerHTML = innerHTML_temp;#}
                tr.appendChild(td);
            }
            table.appendChild(tr);
        }

        caption = document.createElement("caption");
        if (month === 'year_report') {
            caption.innerText = querytype + (parseInt(year_select) - 1).toString() + '年报' + '同比';
        } else {
            caption.innerText = querytype + year_select.toString() + '年' + month + '同比';
        }

        table.appendChild(caption);
        document.body.appendChild(table);
    }

    ss_all = JSON.parse(ss);
    for (x in ss_all) {
        create_one_table(ss_all[x], querytype, x, {{ year_select }})
    }

    ss_all_lastyear = JSON.parse(ss_lastyear);

    {#显示出上年度的数字#}
    for (x in ss_all_lastyear) {
        create_one_table(ss_all_lastyear[x], querytype, x, (parseInt({{year_select}}) - 1).toString())
    }

    {#显示出总和数#}
    if (querytype==='SP'){create_sum_table(ss_all,{{year_select}});}


    for (x in ss_all_lastyear) {
        create_one_table_tongbi(ss_all[x], querytype, x, {{ year_select }}, ss_all_lastyear[x])
    }

</script>

</body>
</html>
