
{% extends "base.html" %}

{% block content %}



<script>
    var ss ={{ msg|tojson|safe }};
    var ss_lastyear ={{ msg_lastyear|tojson|safe }};
    var ss_december_lastyear ={{ msg_december_lastyear|tojson|safe }};
    var querytype = '{{query_type}}';

    function create_one_table(ss, querytype, month, year_select) {
        {#document.write(ss);#}
        {#document.write(typeof ss);#}
        {#document.write(ss.西安.工业);#}
        {#ss1 = JSON.parse(ss);#}
        {#var obj1 = document.getElementById("demo").innerText;#}
        {#document.write('{{query_type}}');#}
        {#td.innerHTML = ss1[x]["工业"];#}


        ss1 = ss;

        if (querytype === 'LW') {
            querytype = '联网直报平台存量';
        } else if (querytype === 'SP') {
            querytype = '审批平台增量';
        } else if (querytype === 'TK') {
            querytype = '审批平台退库';
        }

        div = document.createElement("div");
        table = document.createElement("table");
        caption = document.createElement("caption");
        caption.setAttribute("class", "caption");
        if (month === 'year_report') {
            caption.innerText = querytype + (parseInt(year_select) - 1).toString() + '年报';
        } else {
            caption.innerText = querytype + year_select.toString() + '年' + month;
        }
        tbody = document.createElement("tbody");
        tr = document.createElement("tr");
        th = document.createElement("th");
        th.setAttribute("class", "td");
        th.innerHTML = null;
        tr.appendChild(th);
        if (querytype === '审批平台退库') {
            for (x in ss1["工业"]) {
            th = document.createElement("th");
            th.setAttribute("class", "td");
            th.innerHTML = x;
            tr.appendChild(th);}
        } else  {
            for (x in ss1["西安"]) {
            th = document.createElement("th");
            th.setAttribute("class", "td");
            th.innerHTML = x;
            tr.appendChild(th);}
        }

        tbody.appendChild(tr);

        for (x in ss1) {
            tr = document.createElement("tr");
            td = document.createElement("td");
            td.setAttribute("class", "td");
            td.innerHTML = x;
            tr.appendChild(td);

            for (t in ss1[x]) {
                td = document.createElement("td");
                td.setAttribute("class", "td");
                td.innerHTML = ss1[x][t];
                tr.appendChild(td);
            }
            tbody.appendChild(tr);
        }

        table.appendChild(caption);
        table.appendChild(tbody);
        table.setAttribute("class", "table table-striped table-bordered table-hover table-condensed");
        table.setAttribute("name", {{year_select}}+month);
        div.appendChild(table);

        document.body.appendChild(div);
        div.setAttribute("class", "container");

    }

    function create_sum_table(ss, year_select) {
        {#x是:02月03月04月#}
        var yuefen = new Array();
        for (x in ss) {
            yuefen.push(x);
        }
        if (querytype === 'LW') {
            querytype = '联网直报平台存量';
        } else if (querytype === 'SP') {
            querytype = '审批平台增量';
        } else if (querytype === 'TK') {
            querytype = '审批平台退库';
        }
        div = document.createElement("div");
        div.setAttribute("class", "container");
        hr = document.createElement("hr");
        hr.setAttribute("class", "hr");
        div.appendChild(hr);
        document.body.appendChild(div);

        div = document.createElement("div");
        div.setAttribute("class", "container");
        table = document.createElement("table");
        table.setAttribute("name", yuefen[0]+yuefen[yuefen.length-1]);
        table.setAttribute("class", "table table-striped table-bordered table-hover table-condensed");
        tbody = document.createElement("tbody");
        tbody.setAttribute("class", "td");
        tr = document.createElement("tr");
        th = document.createElement("th");
        th.setAttribute("class", "td");
        th.innerHTML = null;
        tr.appendChild(th);
        tbody.appendChild(tr);

        {#ss是:{"02月":"西安": {"工业": 1503,... "总计": 8486},"铜川": {"工业": 219,...},"03月":"..."}#}
        if (querytype === '审批平台退库') {
            for (x in ss[yuefen[0]]["工业"]) {
            th = document.createElement("th");
            th.setAttribute("class", "td");
            th.innerHTML = x;
            tr.appendChild(th);}
        } else  {
            for (x in ss[yuefen[0]]["西安"]) {
            th = document.createElement("th");
            th.setAttribute("class", "td");
            th.innerHTML = x;
            tr.appendChild(th);}
        }

        tbody.appendChild(tr);
        {#x是西铜宝咸渭...#}
        for (x in ss[yuefen[0]]) {
            tr = document.createElement("tr");
            td = document.createElement("td");
            td.innerHTML = x;
            tr.appendChild(td);

            {#t是工业建筑业房地产...#}
            for (t in ss[yuefen[0]][x]) {
                td = document.createElement("td");
                jieguo=0;
                for (ttt in yuefen)
                {
                    jieguo=jieguo+ss[yuefen[ttt]][x][t]
                }
                td.innerHTML = jieguo;
                tr.appendChild(td);
            }
            tbody.appendChild(tr);
        }

        caption = document.createElement("caption");
        caption.setAttribute("class", "caption");
        if (yuefen[0] === 'year_report' && yuefen[yuefen.length-1] === 'year_report') {
            caption.innerText = (parseInt(year_select)-1).toString()+'年报——'+(parseInt(year_select)-1).toString()+'年报总计';
        } else if (yuefen[0] === 'year_report' && yuefen[yuefen.length-1] !== 'year_report')
        {
            caption.innerText = (parseInt(year_select)-1).toString()+'年报——'+year_select+'年'+yuefen[yuefen.length-1]+'月报总计';
        }else if (yuefen[0] !== 'year_report' && yuefen[yuefen.length-1] !== 'year_report')
        {
            caption.innerText = year_select+'年'+yuefen[0]+'——'+year_select+'年'+yuefen[yuefen.length-1]+'月报总计';
        }



        table.appendChild(caption);
        table.appendChild(tbody);
        div.appendChild(table);
        document.body.appendChild(div);

        div = document.createElement("div");
        div.setAttribute("class", "container");
        hr = document.createElement("hr");
        hr.setAttribute("class", "hr");
        div.appendChild(hr);
        document.body.appendChild(div);
    }

    function create_one_table_tongbi(ss, querytype, month, year_select, ss_lastyear) {
        ss1 = ss;

        if (querytype === 'LW') {
            querytype = '联网直报平台存量';
        } else if (querytype === 'SP') {
            querytype = '审批平台增量';
        } else if (querytype === 'TK') {
            querytype = '审批平台退库';
        }

        div = document.createElement("div");
        div.setAttribute("class", "container");
        table = document.createElement("table");
        table.setAttribute("class", "table table-striped table-bordered table-hover table-condensed");
        tbody = document.createElement("tbody");
        tbody.setAttribute("class", "td");
        tr = document.createElement("tr");
        th = document.createElement("th");
        th.innerHTML = null;
        tr.appendChild(th);
        {#ss1是:{"西安": {"工业": 1503,... "总计": 8486}"铜川": {"工业": 219,...}#}
        if (querytype === '审批平台退库') {
            for (x in ss1["工业"]) {
            th = document.createElement("th");
            th.setAttribute("class", "td");
            th.innerHTML = x;
            tr.appendChild(th);}
        } else  {
            for (x in ss1["西安"]) {
            th = document.createElement("th");
            th.setAttribute("class", "td");
            th.innerHTML = x;
            tr.appendChild(th);}
        }

        {#tr是：表格第一行，工业，建筑业等等#}
        tbody.appendChild(tr);

        {#下面的for循环中，x为西铜宝咸渭...，t为工业建筑业...#}
        for (x in ss1) {
            tr = document.createElement("tr");
            td = document.createElement("td");
            td.innerHTML = x;
            tr.appendChild(td);
            {#ss1[x]是{"工业": 1503,... "总计": 8486}#}

            for (t in ss1[x]) {
                td = document.createElement("td");
                {#下行是查询ss1[西安][工业],ss1[西安][建筑业]...等等#}
                if (parseInt(ss_lastyear[x][t]) === 0) {
                    td.innerHTML = '-';
                } else {
                    innerHTML_temp = (parseInt(ss1[x][t]) - parseInt(ss_lastyear[x][t])) / parseInt(ss_lastyear[x][t]);
                    td.innerHTML = (innerHTML_temp * 100).toFixed(2) + '%';
                }
                {#innerHTML_temp=(parseInt(ss1[x][t]) - parseInt(ss_lastyear[x][t]));#}
                {#td.innerHTML = innerHTML_temp;#}
                tr.appendChild(td);
            }
            tbody.appendChild(tr);
            table.appendChild(tbody);
        }

        caption = document.createElement("caption");
        caption.setAttribute("class", "caption");

        if (month === 'year_report') {
            caption.innerText = querytype + (parseInt(year_select) - 1).toString() + '年报' + '同比';
        } else {
            caption.innerText = querytype + year_select.toString() + '年' + month + '同比';
        }

        table.appendChild(caption);
        div.appendChild(table);
        document.body.appendChild(div);
    }


    function create_net_growth_table(ss, querytype, month, year_select, ss_lastyear) {
        ss1 = ss;

        if (querytype === 'LW') {
            querytype = '联网直报平台存量';
        } else if (querytype === 'SP') {
            querytype = '审批平台增量';
        }

        div = document.createElement("div");
        div.setAttribute("class", "container");
        hr = document.createElement("hr");
        hr.setAttribute("class", "hr");
        div.appendChild(hr);
        document.body.appendChild(div);


        div = document.createElement("div");
        div.setAttribute("class", "container");
        table = document.createElement("table");
        table.setAttribute("class", "table table-striped table-bordered table-hover table-condensed");
        tbody = document.createElement("tbody");
        tbody.setAttribute("class", "td");
        tr = document.createElement("tr");
        th = document.createElement("th");
        th.setAttribute("class","td");
        th.innerHTML = null;
        tr.appendChild(th);
        {#ss1是:{"西安": {"工业": 1503,... "总计": 8486}"铜川": {"工业": 219,...}#}
        for (x in ss1["西安"]) {
            th = document.createElement("th");
            th.setAttribute("class","td");
            th.innerHTML = x;
            tr.appendChild(th);
        }
        {#tr是：表格第一行，工业，建筑业等等#}
        tbody.appendChild(tr);

        {#下面的for循环中，x为西铜宝咸渭...，t为工业建筑业...#}
        for (x in ss1) {
            tr = document.createElement("tr");
            td = document.createElement("td");
            td.innerHTML = x;
            tr.appendChild(td);
            {#ss1[x]是{"工业": 1503,... "总计": 8486}#}
            {#document.write(ss1[x]);#}

            {#td = document.createElement("td");#}
            {#td.innerHTML = ss1[x]["工业"];#}
            {#tr.appendChild(td);#}
            for (t in ss1[x]) {
                td = document.createElement("td");
                {#下行是查询ss1[西安][工业],ss1[西安][建筑业]...等等#}
                innerHTML_temp = (parseInt(ss1[x][t]) - parseInt(ss_lastyear[x][t]));
                td.innerHTML = innerHTML_temp;

                {#innerHTML_temp=(parseInt(ss1[x][t]) - parseInt(ss_lastyear[x][t]));#}
                {#td.innerHTML = innerHTML_temp;#}
                tr.appendChild(td);
            }
            tbody.appendChild(tr);
        }

        caption = document.createElement("caption");
        caption.setAttribute("class", "caption");
        caption.innerText = querytype + year_select.toString() + '年' +month+ '月净增';


        table.appendChild(caption);
        table.appendChild(tbody);
        div.appendChild(table);
        document.body.appendChild(div);

        div = document.createElement("div");
        div.setAttribute("class", "container");
        hr = document.createElement("hr");
        hr.setAttribute("class", "hr");
        div.appendChild(hr)
        document.body.appendChild(div);
    }

    ss_all = JSON.parse(ss);
    for (x in ss_all) {
        create_one_table(ss_all[x], querytype, x, {{ year_select }})
    }

    ss_all_lastyear = JSON.parse(ss_lastyear);
    ss_all_december_lastyear = JSON.parse(ss_december_lastyear);
    {#显示出上年度的数字#}
    {#for (x in ss_all_lastyear) {create_one_table(ss_all_lastyear[x], querytype, x, (parseInt({{year_select}}) - 1).toString())}#}

    {#显示出总和数#}
    if (querytype==='SP' || querytype==='TK'){create_sum_table(ss_all,{{year_select}});}
    {#document.write(ss_all_december_lastyear["12月"]);#}
    {#document.write(ss_all);#}
    {#document.write('SSSSSSSSS');#}


    {#显示出净增数，净增数是和上年12月月度比较#}
    var LLL=Object.keys(ss_all);
    {#document.write(LLL[LLL.length-1]);#}
    if (querytype==='LW'){
        create_net_growth_table(ss_all[LLL[LLL.length-1]],querytype,{{month_select}},{{year_select}},ss_all_december_lastyear["12月"]);
    }


    for (x in ss_all_lastyear) {
        create_one_table_tongbi(ss_all[x], querytype, x, {{ year_select }}, ss_all_lastyear[x])
    }

</script>

{% endblock %}

